@import '~style/helpers';
.pinvButton {
    outline: none;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    font-weight: 500;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    line-height: 1.5;
    padding: 0 15px;
    user-select: none;
    background: #eeeeee;
    border-color: #dde3ec;
    color: #54595c;
    &_ghost {
      background: none;
      color: #576b94;
      border-color: #e5e5e5;
    }
    &_default {
      min-width: 100px;
      height: 36px;
    }
    &_small {
      min-width: 90px;
      height: 32px;
    }
    &_large {
      min-width: 124px;
      height: 38px;
      font-size: 18px;
    }
    &_primary {
      background: @form-color;
      color: @white;
      &:hover {
        opacity:0.92;
        background: @form-color;
      }
    }
    &_secondary{
        background: @white;
        border-color: #dde3ec;
    }
    &_danger {
      color:@white;
      background:@error-color;
    }
    &_disabled {
      cursor: not-allowed;
      background: #dedede;
      color: rgba(0, 0, 0, 0.25);
      &:hover {
        background: #dedede;
        color: rgba(0, 0, 0, 0.25);
      }
    }
  }
  