.container{
	position: relative;
	width:100%;
	height:auto;
}
.node {
	cursor : pointer;
	transition:all .8s ease-out;
  }
.label{
	color:#000;
}
.showText{
	position: absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
}
.showText li{
	text-align: center;
	width:100%;
	list-style: none;
}
